.App {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}

.QrReaderDiv {
  margin: auto;
  width: 90vw;
  height: 90vw;
}

@media screen and (min-width: 600px) {
  .QrReaderDiv {
    width: 70vh;
    height: 70vh;
  }
}
